/* Configuração geral */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family: Arial, Helvetica, sans-serif;

    background:#f2fff2;

    color:#333;

}


/* Cabeçalho */

header{

    background:#2e7d32;

    color:white;

    text-align:center;

    padding:30px;

}

header img{

    width:90px;

    height:90px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid white;

}


header h1{

    font-size:40px;

    margin:10px;

}


header p{

    margin-bottom:20px;

}



/* Menu */

nav{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}


nav a{

    color:white;

    text-decoration:none;

    padding:8px 15px;

    border-radius:10px;

    transition:0.3s;

}


nav a:hover{

    background:white;

    color:#2e7d32;

}



/* Seções */

section{

    padding:40px 10%;

    text-align:center;

}


section h2{

    color:#2e7d32;

    margin-bottom:20px;

    font-size:30px;

}


section p{

    line-height:1.7;

}



/* Cards de benefícios */

.cards{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-top:30px;

}


.card{

    background:white;

    width:250px;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px #0002;

    transition:0.3s;

}


.card:hover{

    transform:translateY(-8px);

}


.card h3{

    color:#388e3c;

    margin-bottom:15px;

}



/* Botões */

button{

    background:#2e7d32;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:8px;

    cursor:pointer;

    margin-top:15px;

}


button:hover{

    background:#1b5e20;

}



/* Campo de entrada */

input{

    padding:12px;

    border-radius:8px;

    border:1px solid #999;

    width:250px;

}



/* Resultado da calculadora */

#resultado{

    color:#2e7d32;

    margin-top:20px;

}



/* Rodapé */

footer{

    background:#1b5e20;

    color:white;

    text-align:center;

    padding:20px;

}



/* Celular */

@media(max-width:700px){


    header h1{

        font-size:30px;

    }


    nav{

        flex-direction:column;

    }


    section{

        padding:30px 20px;

    }


    .card{

        width:100%;

    }

}